<script type="text/x-handlebars-template">
    <a href="{{href}}" target="{{target}}" class="repo {{default class "label label-xs label-orange"}}" title="{{description}}"><i class="fa fa-github-alt"></i> {{repoName repo.name}}</a>
</script>

