<script type="text/x-handlebars-template">
    <a href="https://github.com/{{event.repo.name}}/commits/{{branchName event}}" target="{{default target "_blank"}}" class="btn branch {{default class "btn-xs yellow-gold"}}">
        {{branchName event}}
    </a>
</script>

