<script type="text/x-handlebars-template">
    <a href="{{default href "#"}}" data-github-event="{{event.id}}" target="{{default target "_blank"}}" class="commits btn {{default class "btn-xs yellow"}}">
        {{event.payload.size}} commit{{pushName event}}
    </a>
</script>

